* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  width: 100%;
}

/* CSS Header */

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 2;
}

.header .logo {
  margin-left: 10px;
  height: 50px;
}

.header .logo img {
  height: 50px;
}

.header .menu-nav ul li {
  display: inline-flex;
  padding-right: 10px;
  list-style: none;
}

.header .menu-nav ul li .item {
  color: white;
}

.header .menu-nav ul li .item:hover {
  text-decoration: none;
}

/* CSS Main */

.main {
  padding-top: 70px;
}

.our-mission {
  margin: 0 auto;
  max-width: 1200px;
  max-height: 700px;
  display: block;
}

.main .our-mission .div-our-mission {
  background-image: url(./img/img-mission-background.jpg);
  background-position: 50%;
  width: 1200px;
  height: 700px;
  display: inline-flex;
  align-items: center;
}

.our-mission-title {
  background-color: black;
  width: 100%;
  height: 100px;
  text-align: center;
}